/*=====================
 Animation css start
==========================*/

@keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-webkit-keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes shimmer {
    100% {
        transform: translateX(100%);
    }
}

@keyframes sidebar-menu-open {
    0% {
        transform: translateY(-50%) scaleY(0);
    }

    100% {
        transform: translate(0) scale(1);
    }
}


@keyframes ring {
    20% {
        transform: rotate(22deg);
    }

    40% {
        transform: rotate(-20deg);
    }

    60% {
        transform: rotate(15deg);
    }

    80% {
        transform: rotate(-10deg);
    }

    100% {
        transform: rotate(0);
    }
}

@keyframes shake {
    0% {
        transform: scaleX(1);
    }

    10% {
        transform: scale3d(0.9, 0.9, 0.9) rotate(-3deg);
    }

    20% {
        transform: scale3d(0.9, 0.9, 0.9) rotate(-3deg);
    }

    30% {
        transform: scale3d(1.1, 1.1, 1.1) rotate(3deg);
    }

    50% {
        transform: scale3d(1.1, 1.1, 1.1) rotate(3deg);
    }

    70% {
        transform: scale3d(1.1, 1.1, 1.1) rotate(3deg);
    }

    90% {
        transform: scale3d(1.1, 1.1, 1.1) rotate(3deg);
    }

    40% {
        transform: scale3d(1.1, 1.1, 1.1) rotate(-3deg);
    }

    60% {
        transform: scale3d(1.1, 1.1, 1.1) rotate(-3deg);
    }

    80% {
        transform: scale3d(1.1, 1.1, 1.1) rotate(-3deg);
    }

    100% {
        transform: scaleX(1);
    }
}

@keyframes round {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}
@keyframes sidebar-background-color {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}@keyframes l20-1 {
    0% {
        clip-path: polygon(50% 50%, 0 0, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%)
    }

    12.5% {
        clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 0%, 100% 0%, 100% 0%)
    }

    25% {
        clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 100% 100%, 100% 100%)
    }

    50% {
        clip-path: polygon(50% 50%, 0 0, 50% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%)
    }

    62.5% {
        clip-path: polygon(50% 50%, 100% 0, 100% 0%, 100% 0%, 100% 100%, 50% 100%, 0% 100%)
    }

    75% {
        clip-path: polygon(50% 50%, 100% 100%, 100% 100%, 100% 100%, 100% 100%, 50% 100%, 0% 100%)
    }

    100% {
        clip-path: polygon(50% 50%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 0% 100%)
    }
}

@keyframes l20-2 {
    0% {
        transform: scaleY(1) rotate(0deg)
    }

    49.99% {
        transform: scaleY(1) rotate(135deg)
    }

    50% {
        transform: scaleY(-1) rotate(0deg)
    }

    100% {
        transform: scaleY(-1) rotate(-135deg)
    }
}

@keyframes l20-3 {
    0% {
        transform: scaleY(1) rotate(0deg) translate(-50%, -50%);
    }

    49.99% {
        transform: scaleY(1) rotate(135deg) translate(-50%, -50%);
    }

    50% {
        transform: scaleY(-1) rotate(0deg) translate(-50%, -50%);
    }

    100% {
        transform: scaleY(-1) rotate(-135deg) translate(-50%, -50%);
    }
}

/*=====================
 Animation css end
==========================*/